@import 'global.less';
a,
b,
body,
button,
dd,
div,
dl,
dt,
em,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
input,
label,
li,
ol,
p,
select,
span,
strong,
textarea,
ul {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

body {
  line-height: @font-size;
  font-family: @font-family;
  font-size: @font-size;
  color: @font-color;
  background-color: @bg-color;
}

a {
  text-decoration: none;
  color: @font-color;
  cursor: pointer;
  outline: 0;
}

button,
input,
select,
textarea {
  outline: none;
  border-radius: 0;
}

button {
  border: 0;
}

ol,
ul {
  list-style: none;
}

em,
i {
  font-style: normal;
}

img {
  vertical-align: middle;
  border: 0;
}

iframe {
  border: 0;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 1;
  background-color: #fff;
  pointer-events: none;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    width: 100px;
    height: 100px;
    border: 8px solid rgba(136, 177, 75, .25);
    border-top-color: rgba(220, 63, 63, .8);
    border-radius: 100%;
    animation: rotation .6s infinite linear;
  }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;

  .flex-item {
    flex: 1;
  }
}
