@import 'less/base.less';

.grid-title {
  padding: .15rem;
  line-height: .16rem;
  font-weight: 600;
  font-size: .16rem;
}

.gridview {
  display: flex;
  background-color: #fff;
  flex-flow: wrap;

  .grid-item {
    flex: 1;
    padding: .15rem .2rem;
    line-height: .14rem;
    font-size: .14rem;

    &:hover {
      background-color: @bg-color;
    }

  }
}

.slider-box {
  position: relative;
  height: .2rem;
  cursor: ew-resize;
  background-color: @base-color;
}

#share_button {
  position: absolute;
  display: none;
}

.animation-loading {
  -webkit-animation: rotating .7s linear infinite;
  animation: rotating .7s linear infinite;
  border-color: transparent #2d8cf0 #2d8cf0 transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: 16px;
  width: 16px;
}
