@import 'less/base.less';

.listview {
  background-color: #fff;

  .list-title {
    width: 26ch;
    padding: .15rem;
    line-height: .16rem;
    font-weight: 600;
    font-size: .16rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid;
    animation: typing 3s steps(26, end), cursor-blink .3s step-end infinite alternate;
  }

  .list-item {
    display: block;
    padding: .1rem .15rem;
    line-height: .14rem;
    font-size: .14rem;

    &:hover {
      background-color: @bg-color;
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

.slider-box {
  position: relative;
  height: .2rem;
  cursor: ew-resize;
  background-color: @base-color;
}

.filter-mix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  filter: contrast(20);
  background: #fff;
}

.filter-mix {
  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #333;
    top: 40px;
    left: 40px;
    z-index: 2;
    filter: blur(6px);
    box-sizing: border-box;
    animation: filterBallMove 4s ease-out infinite;
  }

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #3F51B5;
    top: 60px;
    right: 40px;
    z-index: 2;
    filter: blur(6px);
    animation: filterBallMove2 4s ease-out infinite;
  }
}
@keyframes filterBallMove {
  50% {
    left: 140px;
  }
}
@keyframes filterBallMove2 {
  50% {
    right: 140px;
  }
}
