@import 'less/base.less';

.listview {
  background-color: #fff;

  .list-title {
    padding: .15rem;
    line-height: .16rem;
    font-weight: 600;
    font-size: .16rem;
  }

  .list-item {
    display: block;
    padding: .1rem .15rem;
    line-height: .14rem;
    font-size: .14rem;

    &:hover {
      background-color: @bg-color;
    }
  }
}

.slider-box {
  position: relative;
  height: .2rem;
  cursor: ew-resize;
  background-color: @base-color;
}